{:tier :glm-5.2, :verse 5, :comments ["<b>Then Moses fell.</b> Of his own will."], :book :numbers, :voice :ibn-ezra, :lang :en, :chapter 14, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T19:17:32.586492441Z", :translated-from :he, :model "glm-5.2"}