{:tier :glm-5.2, :verse 22, :comments ["<b>Or days.</b> A full year."], :book :numbers, :voice :ibn-ezra, :lang :en, :chapter 9, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T19:16:56.271422702Z", :translated-from :he, :model "glm-5.2"}