{:tier :glm-5.2, :verse 20, :comments ["<b>ויטע</b> Three times in the Masorah: ויטע כרם. ויטע ה' אלהים גן בעדן. ויטע אשל. Our Rabbis expounded: from where did he take the cutting? From the Garden of Eden. And likewise Abraham took the אשל from the Garden of Eden."], :book :genesis, :voice :baal-haturim, :lang :en, :chapter 9, :notes {}, :source-witnesses [["Kitzur Baal HaTurim" "http://sefaria.org"] ["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-12T19:15:51.856432003Z", :translated-from :he, :model "glm-5.2"}