{:tier :glm-5.2, :verse 23, :comments ["The meaning of <b>אשר לו ארבע רגלים</b> (\"which has four legs\"): \"that goes on four\" has already been written. For it is possible that there is a swarming creature that has four legs yet does not walk on them but only flies."], :book :leviticus, :voice :ibn-ezra, :lang :en, :chapter 11, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T19:09:28.706207767Z", :translated-from :he, :model "glm-5.2"}