{:tier :glm-5.2, :verse 27, :comments ["<b>Go, say to them.</b> The meaning is that He descended."], :book :deuteronomy, :voice :ibn-ezra, :lang :en, :chapter 5, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T18:22:27.470815416Z", :translated-from :he, :model "glm-5.2"}