{:tier :glm-5.2, :verse 6, :comments ["<b>He spoke to us at Chorev.</b> He opened to them here in order to draw their minds near with words of good cheer."], :book :deuteronomy, :voice :chizkuni, :lang :en, :chapter 1, :notes {}, :source-witnesses [{"versionTitle" "Sefaria community Hebrew (PD)", "language" "he"}], :timestamp "2026-07-30T14:51:14.775505459Z", :translated-from :he, :model "glm-5.2"}