{:tier :glm-5.2, :verse 1, :comments ["<b>\"And He spoke: Go, ascend from here.\"</b> For one who goes to the left side is ascending, therefore \"Abram went down to Egypt\" (Genesis 12:10), for it is in the south." "And all this I will do on account of my oath to Abraham, to Isaac, and to Jacob."], :book :exodus, :voice :ibn-ezra, :lang :en, :chapter 33, :notes {}, :source-witnesses [["Piotrkow, 1907-1911" "https://www.nli.org.il/he/books/NNL_ALEPH990020973480205171/NLI"]], :timestamp "2026-07-09T18:39:58.342045399Z", :translated-from :he, :model "glm-5.2"}