{:tier :glm-5.2, :verse 29, :comments ["<b>May Elohim grant you favor.</b> It has no [parallel] pattern. Perhaps it changed thus on account of the guttural letter."], :book :genesis, :voice :ibn-ezra, :lang :en, :chapter 43, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"] ["Piotrkow, 1907-1911" "https://www.nli.org.il/he/books/NNL_ALEPH990020973480205171/NLI"]], :timestamp "2026-07-09T18:47:56.637450778Z", :translated-from :he, :model "glm-5.2"}