{:tier :glm-5.2, :verse 15, :comments ["<b>Like me.</b> That he is a prophet of HaShem, not a soothsayer."], :book :deuteronomy, :voice :ibn-ezra, :lang :en, :chapter 18, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T18:23:53.566724295Z", :translated-from :he, :model "glm-5.2"}