{:tier :glm-5.2, :verse 28, :comments ["<b>Each according to his blessing.</b> As befitted each one for blessings, so he blessed them, in the sense of 'each according to his dream's interpretation' [Genesis 41:12]."], :book :genesis, :voice :ibn-ezra, :lang :en, :chapter 49, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"] ["Piotrkow, 1907-1911" "https://www.nli.org.il/he/books/NNL_ALEPH990020973480205171/NLI"]], :timestamp "2026-07-09T18:48:35.892128140Z", :translated-from :he, :model "glm-5.2"}