{:tier :glm-5.2, :verse 19, :comments ["<b>All the wilderness.</b> It is eleven days." "And the meaning of <b>the hill country of the Amorites.</b> For thus it is written <b>in Seir, as far as Hormah.</b> And the meaning is that we go out to the hill country of the Amorites."], :book :deuteronomy, :voice :ibn-ezra, :lang :en, :chapter 1, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T18:21:50.879019702Z", :translated-from :he, :model "glm-5.2"}