{:tier :glm-5.2, :verse 23, :comments ["<b>For.</b> ונחרצה [and it is decreed]: a decree decreed by HaShem, like אתה חרצת [you have decreed]."], :book :isaiah, :voice :ibn-ezra, :lang :en, :chapter 10, :notes {}, :source-witnesses [["Ibn Ezra on Isaiah, by M. Friedlander; Society of Hebrew Literature, London 1877" "https://www.nli.org.il/he/books/NNL_ALEPH001338443"]], :timestamp "2026-07-09T18:53:15.859106229Z", :translated-from :he, :model "glm-5.2"}