{:tier :glm-5.2, :verse 13, :comments ["<b>When you cry out, let your gathered ones deliver you.</b> Those whom you gathered to save you. And behold, קבוציך is an epithet of the Name, like למודי יי (Isaiah 54:13)." "<b>And all of them the wind will carry off; breath will take [them].</b> (them) By way of parable, that they will perish and will not see the salvation of HaShem:" "<b>But the one who takes refuge in Me will inherit the land and possess My holy mountain.</b> And behold, it is joined with the section written above: כל שומר שבת (Isaiah 56:6)."], :book :isaiah, :voice :ibn-ezra, :lang :en, :chapter 57, :notes {}, :source-witnesses [["Ibn Ezra on Isaiah, by M. Friedlander; Society of Hebrew Literature, London 1877" "https://www.nli.org.il/he/books/NNL_ALEPH001338443"]], :timestamp "2026-07-09T18:59:58.243998528Z", :translated-from :he, :model "glm-5.2"}