{:tier :glm-5.2, :verse 13, :comments ["<b>Choice produce.</b> That the heavens give."], :book :deuteronomy, :voice :ibn-ezra, :lang :en, :chapter 33, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T18:26:26.731965277Z", :translated-from :he, :model "glm-5.2"}