{:tier :glm-5.2, :verse 7, :comments ["<b>That you brought up.</b> The qamatz precedes; and the second occurrence has a ḥiriq under the <i>he</i>."], :book :exodus, :voice :chizkuni, :lang :en, :chapter 32, :notes {}, :source-witnesses [{"versionTitle" "Sefaria community Hebrew (PD)", "language" "he"}], :timestamp "2026-07-30T15:01:26.209096261Z", :translated-from :he, :model "glm-5.2"}