{:tier :glm-5.2, :verse 26, :comments ["<b>Then began to call upon the name of YHWH.</b> Meaning: to swear falsely, from the expression לא יחל דברו."], :book :genesis, :voice :daat-zkenim, :lang :en, :chapter 4, :notes {}, :source-witnesses [{"versionTitle" "Sefaria community Hebrew (PD)", "language" "he"}], :timestamp "2026-07-30T13:05:01.058388754Z", :translated-from :he, :model "glm-5.2"}