{:tier :glm-5.2, :verse 36, :comments ["<b>Chief of the executioners.</b> You will find this expression applied to killing and to cooking, and the words of the Aramaic translator are correct."], :book :genesis, :voice :ibn-ezra, :lang :en, :chapter 37, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"] ["Piotrkow, 1907-1911" "https://www.nli.org.il/he/books/NNL_ALEPH990020973480205171/NLI"]], :timestamp "2026-07-09T18:47:18.747387206Z", :translated-from :he, :model "glm-5.2"}