{:tier :glm-5.2, :verse 22, :comments ["<b>נשא.</b> A verbal noun, like זכור את יום השבת. And the sense of <b>נשא</b> is 'lift' [i.e., take a census]." "<b>גם הם.</b> Because [he already said] 'lift the head of the Kohathites.'"], :book :numbers, :voice :ibn-ezra, :lang :en, :chapter 4, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T19:16:19.268122920Z", :translated-from :he, :model "glm-5.2"}