{:tier :glm-5.2, :verse 8, :comments ["<b>באסמיך</b> in gematria: this is סמוי (hidden). For blessing is found only in something hidden from the eye."], :book :deuteronomy, :voice :baal-haturim, :lang :en, :chapter 28, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-12T19:10:51.999051615Z", :translated-from :he, :model "glm-5.2"}