{:tier :glm-5.2, :verse 3, :comments ["<b>And their Asherim.</b> They are trees." "<b>And you shall destroy their name.</b> So that they are not remembered."], :book :deuteronomy, :voice :ibn-ezra, :lang :en, :chapter 12, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T18:23:08.041718686Z", :translated-from :he, :model "glm-5.2"}