{:tier :glm-5.2, :verse 10, :comments ["<b>You shall pledge as security.</b> From the root נשה:" "The heh <b>anything.</b> The heh is added, like לילה." "<b>To take a pledge.</b> To take his pledge."], :book :deuteronomy, :voice :ibn-ezra, :lang :en, :chapter 24, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T18:24:36.927405457Z", :translated-from :he, :model "glm-5.2"}