{:tier :glm-5.2, :verse 2, :comments ["<b>And she leaves.</b> That she not return there. And the matter is known, that she has departed from being in his house." "<b>And she becomes.</b> In the world, to a man." "<b>Another.</b> Also the latter [word] is a name of description."], :book :deuteronomy, :voice :ibn-ezra, :lang :en, :chapter 24, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T18:24:34.301189616Z", :translated-from :he, :model "glm-5.2"}