{:tier :glm-5.2, :verse 13, :comments ["<b>All my glory.</b> That I have <b>in Egypt.</b> And let his heart not worry, for it is in my power to provide, and I have the ability to do good to him."], :book :genesis, :voice :chizkuni, :lang :en, :chapter 45, :notes {}, :source-witnesses [{"versionTitle" "Sefaria community Hebrew (PD)", "language" "he"}], :timestamp "2026-07-30T15:08:39.880464045Z", :translated-from :he, :model "glm-5.2"}