{:tier :glm-5.2, :verse 11, :comments ["<b>Third time</b><br>נופת. The accents of the Torah." "And the scent of your garments. Tallit and tzitzit."], :book :song-of-songs, :voice :ibn-ezra, :lang :en, :chapter 4, :notes {}, :source-witnesses [["Ibn Ezra's commentary on the Canticles" "http://beta.nli.org.il/he/books/NNL_ALEPH002030344/NLI"]], :timestamp "2026-07-09T19:44:17.301648761Z", :translated-from :he, :model "glm-5.2"}