{:tier :glm-5.2, :verse 30, :comments ["You will have no place to cry out and pray to be saved from the famine, for I will destroy your high places, the site of the sacrifices." "<b>חמניכם.</b> From the root חמה, houses made for sun worship. The nun is added like the nun in נשים רחמניות." "<b>פגריכם.</b> Your bodies, like פגר מובס. <b>גלוליכם.</b> A term of disgrace for idolatry, from the root as in כאשר יבער הגלל. The meaning: when you gather to idolatrous temples, there your enemies will kill you and destroy the forms of your idols, and I will not save you." "<b>וגעלה נפשי אתכם.</b> That the Shekhinah will depart."], :book :leviticus, :voice :ibn-ezra, :lang :en, :chapter 26, :notes {}, :source-witnesses [["On Your Way" "http://mobile.tora.ws/"]], :timestamp "2026-07-09T19:12:48.451767584Z", :translated-from :he, :model "glm-5.2"}