{:tier :glm-5.2, :verse 11, :comments ["<b>Observe for yourself what I command you today.</b> I not only warn you not to exchange your glory for that which does not profit, but I also warn you not to allow others to worship any besides Me."], :book :exodus, :voice :sforno, :lang :en, :chapter 34, :notes {}, :source-witnesses [{"versionTitle" "Sefaria community Hebrew (PD)", "language" "he"}], :timestamp "2026-07-22T16:28:01.949883775Z", :translated-from :he, :model "glm-5.2"}